<div class="content p-24" style="width: 100%;">
  <div class="mb-24" fxLayout="row" fxLayoutAlign="center center">

    <form class="mat-card mat-elevation-z4 py-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
      name="form" [formGroup]="form" style="border-radius: 8px;">

      <h2>Bienvenido a la prueba de FullStack Developer - CRUD APPLICATION - Hecho por Julio Lamus</h2>


      <div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="px-24">
          <div fxFlex="33">
            <mat-form-field appearance="outline" style="width: 90%;">
              <mat-label>Nombre</mat-label>
              <input name="nombre" autocomplete="off" matInput formControlName="nombre" required>
              <mat-error>
                Nombre es requerido!
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="33">
            <mat-form-field appearance="outline" style="width: 90%;">
              <mat-label>Apellido</mat-label>
              <input name="apellido" matInput formControlName="apellido" required>
              <mat-error>
                Apellido es requerido!
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="33">
            <mat-form-field appearance="outline" style="width: 90%;">
              <mat-label>Cedula</mat-label>
              <input name="apellido" matInput formControlName="cedula" required>
              <mat-error>
                Cedula es requerido!
              </mat-error>
            </mat-form-field>
          </div>

        </div>
      </div>

      <div fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="center center">
        <button mat-raised-button color="warn" (click)="limpiar();">
          <mat-icon>delete</mat-icon>Limpiar campos
        </button>
        <div class="pr-20"></div>
        <button mat-raised-button color="primary" (click)="obtenerPersonas();">
          <mat-icon>search</mat-icon>Listar todas las personas
        </button><button [disabled] = "form.get('apellido').invalid" mat-raised-button color="primary" (click)="obtenerPersonaApellido();">
          <mat-icon>search</mat-icon>Busqueda solo por apellido
        </button>
        <div class="pr-20"></div>
        <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="nuevaPersona();">
          <mat-icon>add</mat-icon>Nueva persona
        </button>
        <button [disabled]="form.invalid || id_edit == ''" mat-raised-button color="primary" (click)="editarPersona();">
          <mat-icon>edit</mat-icon>Editar persona con id: {{id_edit}}
        </button>
        <button mat-raised-button color="warn" (click)="eliminarTodos();">
          <mat-icon>delete</mat-icon>Eliminar todas las personas
        </button>
      </div>


    </form>

  </div>

  <div class="pr-24"></div>

  <div class="mat-elevation-z8" style="border-radius: 8px;">
    <div class="example-table-container" style="border-radius: 8px;">
      <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">

        <!-- Nombre Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
          <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>

        <!-- Apellido Column -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
          <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
        </ng-container>

        <!-- Cedula Column -->
        <ng-container matColumnDef="cedula">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </th>
          <td mat-cell *matCellDef="let row"> {{row.cedula}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
          <td mat-cell *matCellDef="let row">
            <div style="cursor: pointer;">
              <mat-icon (click)="eliminarPersona(row.id)">
                delete</mat-icon>
              <mat-icon (click)="agarrarValor(row.id);">edit</mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>

  </div>


</div>
