.green {
  background: green
}

.blue {
  background: #3276b1;
}

.red {
  background: red;
}

.content {

  form {
    width: 100%;
    max-width: 100% !important;
  }

  .form-errors-model {
    flex: 1;

    code {
      background: none !important;
    }
  }

  .horizontal-stepper-wrapper,
  .vertical-stepper-wrapper {
    max-width: 800px;
  }
}

.form-small {
  width: 20%;
}

/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 600px;
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

td,
th {
  width: 12%;
}

tr.mat-row:hover {
  background: #f5f5f5;
  cursor: pointer;
}

tr.mat-row:active {
  background: #efefef;
}

.active-icon {
  border-radius: 50%;
}
